<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>파일 업로드</title>
    <!-- CSS 파일 링크 -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="flex-container">
	        <!-- 왼쪽 컬럼 - 파일 업로드 -->
        <div class="left-column">
            <form th:action="@{/upload}" method="post" enctype="multipart/form-data" onsubmit="uploadFile()">
		        <label for="file">파일 선택:</label>
		        <input type="file" id="file" name="file" required/><br/>
		        
		        <label for="password">비밀번호:</label>
		        <input type="password" id="password" name="password" required/><br/>
		
		        <input type="submit" value="업로드"/>
		    </form>
	    
		    <div id="progress-container">
			    <div id="progress-bar"></div>
			</div>
	    
	    	<hr/>
	    
		    <h2>파일 목록</h2>
		    <ul>
		        <!-- 파일 목록을 나열하고 각 파일에 대한 다운로드 링크를 생성 -->
		        <li th:each="file : ${fileListDtoList}">
		            <!-- 파일을 클릭하면 모달 창 열기 -->
					<a href="#" th:onclick="'openModal(\'' + ${file.id} + '\')'" th:text="${file.originalName}"></a>
					<span th:text="${file.createdDate}"></span>
		        </li>
		    </ul>
        </div>
        
        <!-- 오른쪽 컬럼 - 텍스트 입력 및 표시 -->
        <div class="right-column">
		    <form th:action="@{/save/text}" method="post" id="textForm">
		        <!-- Text 객체의 id를 textId 필드에 설정, id가 null인 경우 빈 문자열 사용 -->
		        <input type="hidden" id="textId" name="id" th:value="${text != null} ? ${text.id} : ''" required/><br/>
		        
		        <label for="textInput">텍스트 입력:</label>
		        <!-- Text 객체의 text를 텍스트 입력란에 표시, text가 null인 경우 빈 문자열 사용 -->
		        <textarea id="textInput" name="text" rows="10" required th:text="${text != null} ? ${text.text} : ''"></textarea><br/>
		        <input type="submit" value="저장"/>
		    </form>
		</div>
    </div>
    
    <!-- 비밀번호 입력 모달 -->
    <div id="passwordModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>비밀번호 입력</h2>
            <!-- 모달 창에서 파일 다운로드 요청 -->
            <form method="post" id="passwordForm" onsubmit="return checkPassword()">
			    <label for="filePassword">비밀번호:</label>
			    <input type="password" id="filePassword" name="filePassword" required/><br/>
			    <input type="submit" value="다운로드"/>
			</form>
        </div>
    </div>
    
    <!-- JavaScript 파일 링크 -->
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    
</body>
</html>